<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= google_webfonts_link_tag open_sans: [400, 700] %>
  </head>
  <body>

    <%= render 'layouts/flashes' %>

    <div id="header">
      <%= render 'layouts/promo_message' %>
      <div class="container">
        <!-- Naviagation -->
        <%= render 'refills/navigation' %>
        <!-- Profile -->
        <div id="profile">
          <% if signed_in? %>
            <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
          <% else %>
            <%= link_to t(".sign_in"), sign_in_path %>
          <% end %>
        </div><!-- end #profile -->

        <!-- Logo -->
        <%= render 'layouts/logo_section' %>

      </div><!--end .container-->
    </div><!--end #header-->
    <%= yield %>
  </body>
</html>
